version: '2'
services:
  {{ wimpy_application_name }}:
    image: {{ wimpy_docker_image_name }}:{{ wimpy_release_version }}
    ports:
      - "{{ wimpy_application_port }}:{{ wimpy_application_port }}"
    environment:
      - ENVIRONMENT
      - S3_BUCKET
      - KMS_MASTER_KEY
      - PORT
{% for env_key in wimpy_application_environment_vars.keys() %}
      - {{ env_key }}
{% endfor %}
